h1 {
  margin-top: 0;
  padding-left: 1em;
  padding-top: 1em;
  display: block;
  height: 70px;
  font-size: xx-large;
  color: silver;
  background-color: #105010;
}
h2 {
  font-size: xx-large;
}
.left {
  padding-right: .75em;
  margin-right: 0;
}
.right {
  border-left: 1px solid silver;
  width: 380px;
  float: right;
  margin-top: -1.5em;
  padding-right: 1em;
  padding-left: .75em;
}
html, body {
  width: 100%;
  border: 0;
  margin: 0;
}
div#contents {
  margin-left: 1.8em;
  margin-top: 1.5em;
}
dt {
  margin-top: 0;
  font-size: 150%;
  font-weight: bold;
}
dd, dt {
  display: inline;
}
dd {
  margin-left: .5em;
}
dl {
  padding: 0;
  margin: .2em 0;
}
#player {
  background: white url('/media/player.png') no-repeat center center;
}
